# Local development defaults
POSTGRES_USER=dockd
POSTGRES_PASSWORD=change-me
POSTGRES_DB=dockd_dev
APP_PORT=4000

# Reverse proxy overlay
PHX_HOST=dockd.localhost
DATABASE_URL=ecto://dockd:change-me@db/dockd_dev
SECRET_KEY_BASE=generate-with-mix-phx-gen-secret
TRAEFIK_NETWORK=shared_network
TRAEFIK_ENTRYPOINT=websecure
